{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">The Climb Times</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/"><i class="nav-link fas fa-home">Home <span class="sr-only">(current)</span></i></a>
      </li>
      <li class="nav-item">
        <a  href="/articles"><i class="nav-link far fa-newspaper">Saved Articles</i></a>
      </li>
    </ul>
    <button type="button" class="btn btn-success mr-2 my-lg-1 my-sm-3" id="scrape-btn">Collect New Articles</button>
    <button type="button" class="btn btn-success" id="clear-btn">Clear Articles</button>
  </div>
</nav>
    
{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid shadow">
    <div class="container">
      <h1 class="display-4 text-white">The Climb Times</h1>
      <p class="lead text-white">Save and comment on your favorite rock climbing articles from the NY Times.</p>
    </div>
</div>


{{!-- Article --}}
<div class="container container-fluid my-1">
  <div class="card shadow-sm" id="cardHeader">
    <div class="card-header"> 
      <a class="text-reset font-weight-bold a-resize" href="https://www.nytimes.com/2019/06/18/opinion/pregnant-athlete-sponsor-climber.html?rref=collection%2Ftimestopic%2FRock%20Climbing">
      I'm a Climber, and a Mother, and Doing Great, Thank You
      </a>
      <button type="button" class="btn btn-danger float-right ml-3" id="clearOne">Clear Article</button>
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#comment-mod" id="comt-btn">Comment</button>
    </div>   
   {{!-- article body --}}
  <div class="card-body">
      <p class="card-text float-left" data-id="">Among many of my peers, being pregnant was seen as a big problem. But not by my sponsors.</p>
      <img class="img-fluid float-right article-img" src="https://static01.nyt.com/images/2019/06/18/opinion/18rodden/7d4e8462b558492685f3dd6801a83a3d-jumbo.jpg?quality=90&auto=webp">
    {{!-- image --}}
  </div>
</div>

{{!-- modal --}}
<div class="modal fade" id="comment-mod" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label">Add a Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="article-body" class="col-form-label">Message:</label>
            <textarea class="form-control" id="article-body"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit Comment</button>
      </div>
    </div>
  </div>
</div>

</div>

{{!-- footer --}}
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="text-white text-center mx-auto pt-2">The Climb Times | Esther Hwang 2019</p>
</nav>