{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Rock and Ice</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Saved Articles</a>
      </li>
    </ul>
    <button type="button" class="btn btn-success mr-2 my-lg-1 my-sm-3" id="scrape-btn">Collect New Articles</button>
    <button type="button" class="btn btn-success" id="clear-btn">Clear Articles</button>
  </div>
</nav>
    
{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Rock and Ice Scraper</h1>
      <p class="lead">Save and comment on your favorite rock and ice articles.</p>
    </div>
</div>