.jumbotron {
    background-image: url("/adventure-climb-daylight-673018.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: 1em;
    background-position-y: -12em; */
    height: 420px;
}

.a-resize {
    font-size: 1.5em;
}

.article-img {
    height: 15%;
    width: 15%;
}

.footer {
    bottom:0;
}